@import "tailwindcss";

@theme {
  --animate-gradient-title: gradient-title 2s ease-in-out infinite;

  @keyframes gradient-title {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}
